h2 {
    font-weight: $titleHeavy;
    font-size: $textMd;
    color: $secondaryColor;
    margin: 4rem 2rem;
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.btForm {
    border: solid 1px;
    border-color: $btnborderColor;
    background-color: $btncolor;
    color: $btntextColor;

    &:hover {
        background-color: $hoverColor;
        transform: translateY(-0.20em);
        transition: transform 0.2s;
        cursor: pointer;
    }
}