@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@300;700&display=swap');

$fontMain:'Montserrat',
sans-serif;

$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;

$w-45:450px;

$titleHeavy:700;